body{
  background:url(mainbackground.jpg);
  background-size: cover;
}

.jumbotron{
    background-color: #000000;
    color: #ffffff;
  opacity: .7;
   filter: alpha(opacity=70)
   font-weight: bolder;
  font-size: 30px;
   height: 700px;
   align-content: center;
   align-items: center;
   text-align: center;
   
}

.tuition{
padding-top: 60px;

}
.navmain{
opacity: 0.8;
  filter: alpha(opacity=80);

}
h1{
  padding-bottom: 30px;
  font-weight: bolder;
}

.nav{

margin-left: 20px;
}
