
body{
	margin: 0;
	padding: 0;
    background:url(login.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
background{
	height: 575px;
}
.logo{
	width: 350px;
	height: 470px;
	left: 40%;
	opacity: 3.0;
	right:100%;
	background-size: cover;
}

.loginbox{
	width: 270px;
	height: 410px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 70%;
	position: absolute;
	margin: 5% auto;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 20px;
	border-radius: 10px;
	opacity: 0.7;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 25px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 30px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover
{
	color: #ffc107;
}
