<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
        <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>TuitionWala</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->

    <link rel="shortcut icon" href="{% static 'images/book.ico' %}" type="image/x-icon" >
    <link rel="apple-touch-icon" href="{% static 'images/book1.png' %}" type="image" >


    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Tuition Wala!</title>

  </head>
  <body>

    <nav id="navmain" class="navbar navbar-expand-lg navbar-dark" style="background-color: #868885;">
      <a class="navbar-brand" href="#"></a>
            <img src="{% static 'uploads/logonavbar.png' %}">
      </a>
<!-- Brand and toggle get grouped for better mobile display -->
<!-- This is the actual code that creates the "hamburger icon" -->
<!-- The data-target grabs ids to put into the icon -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-nav">

          <!-- the span class "sr-only" tells screen readers that Home is the active link, for accessibility -->
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/index/partner_institutions">Partner Institutions</a>
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/index/Entity_Registration_Form">Register(Institute/Tutor)</a>
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/index/enrollment_console">Click To Enroll</a>
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/index/status">Enrollment Status</a>


              </div>

              </div>
                          </div> <!-- /.navbar-nav, left-hand content -->
        <!-- STUFF ON THE RIGHT -->
<form class="logout" action="http://127.0.0.1:8000/index">
              <div class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'TuitionWala:user_login' %}">Login</a>
            {% endif %}
            </div> <!-- /.navbar-nav, right-hand content -->

            </div> <!-- /.navbar-collapse -->
  </form>


</nav>
<div class="container">
  <div class="jumbotron">
  <h1>Hello, Welcome to Tuition Wala!</h1>
  <p></p>
  <p class="tuition">Tuition wala explains about an amazing paltform application through which students from different locations can access Tuition information and take admissions. Using this system time for application process will be reduced and students who are located geographically can fill admissions forms. Cost of traveling for students will be reduced man power for Tuition will be reduced.</p>
    <br>
    <br>

      <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/index/about" role="button">Learn more</a></p>
</div>


</div>
<!-- Need to have JQuery and Javascript for DropDown Actions to work -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript">

var header = document.querySelector("h1")
header.style.color = 'red'
// we changed heading to red color now just change it to multiple colors in milli seconds

function getRandomColor(){
  var letters = "0123456789ABCDEF";
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random()*16)];
  }
  return color
}

// Simple function for clarity
function changeHeaderColor(){
  colorInput = getRandomColor()
  header.style.color = colorInput;
}

// Now perform the action over intervals (milliseocnds):
setInterval("changeHeaderColor()",500);
</script>
  </body>
</html>
