<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>TuitionWala</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->

    <link rel="shortcut icon" href="{% static 'images/book.ico' %}" type="image/x-icon" >
    <link rel="apple-touch-icon" href="{% static 'images/book1.png' %}" type="image" >


    <link rel="shortcut icon" href="images/book.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <title>TutionWala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <nav id="navmain" class="navbar navbar-expand-lg navbar-light" style="background-color: #e6e6e6;">
      <a class="navbar-brand" href="#"></a>
            <img src="{% static 'uploads/logonavbar.png' %}">
      </a>
<!-- Brand and toggle get grouped for better mobile display -->
<!-- This is the actual code that creates the "hamburger icon" -->
<!-- The data-target grabs ids to put into the icon -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-nav">

          <!-- the span class "sr-only" tells screen readers that Home is the active link, for accessibility -->
         <a class="nav-item nav-link" href="http://127.0.0.1:8000/index/main_page">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="http://127.0.0.1:8000/index/partner_institutions">Partner Institutions</a>
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/index/Entity_Registration_Form">Register(Institute/Tutor)</a>
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/index/enrollment_console">Click To Enroll</a>
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/index/status">Enrollment Status</a>
              </div>


              </div>

              </div>
                          </div> <!-- /.navbar-nav, left-hand content -->
        <!-- STUFF ON THE RIGHT -->
<form class="logout" action="http://127.0.0.1:8000/index">
              <div class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'TuitionWala:user_login' %}">Login</a>
            {% endif %}
            </div> <!-- /.navbar-nav, right-hand content -->

            </div> <!-- /.navbarcollapse -->
  </form>
</nav>
    <div class="jumbotron">

    <div class="container">

    <h2>BRILLIANT ACADEMY</h2>

    <p></p>
    <p> <b>BRILLIANT ACADEMY</b> has been providing students of HYDERABAD with quality education since 2012. BA was the pioneer in dealing with engineering & diploma tuitions in Hyderabad. Having 5 years of experience we were decided to take a step further. Brilliant Academy has started under the dynamic leadership of academician Mr. JAGADEESH .He aimed to provide classroom coaching to hundreds of aspirants. In the journey of 5 years, Brilliant Academy has grown from strength to strength. Brilliant Academy taught more than 1500 students to get their degree with good score. BA has always focused on adapting with time and provides all the help and support to students so that they achieve nothing but the best in their professional careers.
    We helped 1500 students, who had supplies ranging from 10 subjects to 30 subjects. We do have personalized counseling for students who have a lot of back papers to identify their weakness and to help them to plan their future exam seasons.
    BRILLIANT ACADEMY is a result-oriented institute which believes in giving best results for students who are suffering with backlogs & top results for students who are interested in learning the concepts.
    </p>
    <ul>
    <p><b><u>Contact Us:-</u></b></p>
      <li><b><u>Mobile No:-</u></b> (+91) 7842104103,(+91)040-40269619</li>
      <p></p>
      <li><b><u>Email ID:-</u></b> :- info@mybrilliantacademy.com, reachus@mybrilliantacademy.com, admin@mybrilliantacademy.com</li>
      <p></p>
    <li><b><u>ADDRESS:-</u></b>503, Nandini Residency,
    Above Airtel Office, Addagutta society,
    Opp to JNTU,KPHB
    Hyderabad-500072
    </li>
    </ul>
      <p align=right><a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/index/partner_institutions" role="button">Go Back</a></p>

      </div>

    </div>

  </body>
</html>
